/*
Syntax error: Undefined mixin 'transition'.
        on line 186 of moje.css.scss, in `transition'
        from line 186 of moje.css.scss

181:         width:100%;
182:         border-radius: 0px;
183:       }
184: 
185:       img {
186:         @include transition(all 0.8s ease-in-out 0s);
187:         &:hover {
188:           @include scale(1.2);
189:         }
190:       }  
191: 

Backtrace:
moje.css.scss:186:in `transition'
moje.css.scss:186
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/home/pnc/.rvm/gems/ruby-2.2.4/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'transition'.\A         on line 186 of moje.css.scss, in `transition'\A         from line 186 of moje.css.scss\A \A 181:         width:100%;\A 182:         border-radius: 0px;\A 183:       }\A 184: \A 185:       img {\A 186:         @include transition(all 0.8s ease-in-out 0s);\A 187:         &:hover {\A 188:           @include scale(1.2);\A 189:         }\A 190:       }  \A 191: "; }
